table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

td:first-child {
  font-weight: bold;
  text-align: left;
}

.severidade{
  font-weight: normal; 
  text-align: center;
}

tr:first-child td {
  font-weight: bold;
  background-color: #ccc;
}

tr:nth-child(even) td {
  background-color: #f2f2f2;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: none;
  background-color: #f2f2f2;
}